/*
 * The sim flash grown to 8 MiB: above everything native_sim already defines, a
 * 1 MiB partition for the stores' LittleFS volume and a 4 MiB partition standing
 * in for MCUboot's slot 2.
 */

&flashcontroller0 {
	reg = <0x00000000 DT_SIZE_K(8192)>;
};

&flash0 {
	reg = <0x00000000 DT_SIZE_K(8192)>;
	ranges = <0x0 0x0 DT_SIZE_K(8192)>;

	partitions {
		fw_test_partition: partition@200000 {
			compatible = "zephyr,mapped-partition";
			label = "fw_test";
			reg = <0x00200000 0x00100000>;
		};

		sysimg_slot_partition: partition@300000 {
			compatible = "zephyr,mapped-partition";
			label = "sysimg_slot";
			reg = <0x00300000 0x00400000>;
		};
	};
};
