/*
 * Relay outputs are active high (ULN2003 inputs, high = coil on); the board's
 * common DTS says GPIO_ACTIVE_LOW. Same override as the ext_flash_app overlay.
 */
&relay_ac1 {
	gpios = <&gpioa 5 GPIO_ACTIVE_HIGH>;
};

&relay_ac2 {
	gpios = <&gpioc 4 GPIO_ACTIVE_HIGH>;
};

&relay_ac3 {
	gpios = <&gpioc 5 GPIO_ACTIVE_HIGH>;
};

&relay_ac4 {
	gpios = <&gpiob 2 GPIO_ACTIVE_HIGH>;
};

&clk_msis {
	status = "disabled";
	msi-range = <4>;
	msi-pll-mode;
};

&pll1 {
	div-m = <5>;
	mul-n = <64>;
	div-q = <2>;
	div-r = <2>;
	div-p = <2>;
	clocks = <&clk_hse>;
	status = "okay";
};

&pll2 {
	status = "okay";
	clocks = <&clk_hse>;
	div-m = <5>;
	mul-n = <96>;
	div-p = <2>;
	div-q = <10>;
	div-r = <2>;
};
